@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}
.container h1 {
    padding-top: 10px; 
}
article {
    margin: 5%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5%;
}
article .title {
    padding-top: 5px ;
    padding-left: 10px;
}
article .pubDate {
    color: #797D7F;
}
article .description {
    font-size: 14px;
}
article a {
    text-decoration: none;
    color: #000000;
}
article a:hover {
    color: #f5222d;
    transform: 0.3s;
}
article a:visited {
    color:#1890ff ;
}
article .title_container {
 display:flex;
}
article .title_container div:first-child {
    width: 90%;
}

